html, body {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: url("../img/black-and-white-gray-grey-1050305.jpg") no-repeat fixed center;
    background-size: cover;
}

/* NAV BAR CAROUSEL FUNCTION */

.photo_change1 {
    background: url('../img/mom-and-I.jpg') center / cover no-repeat !important;
}

.photo_change2 {
    background: url('../img/Bros-pic.jpg') center / cover no-repeat !important;
}

 /*--------------------------------------------------
                    Pop Up Section 
 ---------------------------------------------------*/
 .popup {
    position: fixed;
    z-index: 1;
    height: 400px; width: 0;
    opacity: 0;
    /* use visibility hidden so img doesn't get in way of project div */
    visibility: hidden;
    top: 200px; left: 300px;
    /* disappears faster when changed so you can't see text try to fill a smaller div */
    transition: width .6s ease-out, opacity .1s linear, visibility .3s linear .2s;
}

.popup_appear {
    width: 700px;
    opacity: 1;
    visibility: visible;
    transition: width 0.6s ease-out, opacity 0.3s linear .2s;
}

/* changes the font awesome icon size */
.popup i {
    font-size: 16em;
}
/* changes popup text */
.popup p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: chartreuse;
    text-shadow: 2px 2px black;
}

.text_box {
    position: absolute;
    text-align: center;
    height: 100%; width: 50%;
    right: 50%;
    opacity: 0;
    /* for when it closes */
    transition: opacity .05s linear .05s;
}
/* separate transition for text */
.text_box_appear {
    opacity: 1;
    transition: opacity .5s linear .5s;
}

.img_container {
    position: absolute;
    height: 100%; width: 50%;
    left: 50%;
}

/*--------------------------------------------------
                    Project Section
 ---------------------------------------------------*/

 .flex-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%; width: 100%;
    padding: 20px 10px 10px 10px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 8px;
}

.project {
    height: 160px; width: 200px;
    position: relative;
    border: 2px solid chartreuse;
    margin: 15px auto;
    transition: all .3s ease-out;
    overflow: hidden;
    border-radius: 8px;
}

.project a {
    color: black;
}

.project img {
    height: 100%; width: 100%;
    border-radius: 8px;
    transform: scale(1.2);
    transition: transform .3s ease-out;
}

.project:hover {
    border-radius: 20px;
}

.project:hover img{
    transform: scale(1.1);
}

.project_overlay{
    position: absolute;
    text-align: center;
    top: 0; left: 0;
    height: 100%; width: 100%;
    opacity: 0;
    transition: all .3s
}

.project_overlay:hover {
    opacity: 1;
    background-color: rgba(0,0,0,0.7);
    color: chartreuse;
}

/*------------------------------------------------
                    HOME PAGE 
--------------------------------------------------*/

#home {
    position: relative;
    height: 100%; width: 100%;
    background-color: rgba(0,0,0,0.3);
}

.background_text {
    position: absolute;
    z-index: 1;
    height: 150px; width: 520px;
    top: 50%; right: 50%;
    margin-top: -150px;
    margin-right: -250px;
    transition: all .3s ease-out;
}

.background_text_toggle {
    position: absolute;
    height: 150px; width: 400px;
    top: 10px; right: 10px;
    margin-top: 0;
    margin-right: 0;
}

.background_text p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 37px;
    text-align: center;
    color: chartreuse;
    text-shadow: 3px 3px black, 2px 2px black;
    transition: all .3s ease-out;
}

.background_text_toggle p {
    font-size: 27px;
}

 /*--------------------------------------------------
                    PAGES
 ---------------------------------------------------*/

.page_background {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}
